<h3>{{section.settings.heading}}</h3>
<p>{{sections.settings.description}}</p>
{% schema %}
  {
    "name": "icons with text",
    "settings": [
                  {
                    "type":"text",
                    "label":"Pictures Testing",
                    "id":"heading"
                  },
                  {
                    "type":"richtext",
                    "label":"your description",
                    "id":"description"
                  }
                ],
    "blocks" :  [
                  {
                    "type": "image",
                    "name": "image block",
                    "settings":[
                                  {
                                    "type":"image_picker",
                                    "label":"your image",
                                    "id":"image"
                                  }
                                ]
                  }
                ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}