.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.collection  nav.pagination {
  position: relative;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  max-width: 4.4rem;
}

.collection .paginate-prev,
.collection .paginate-next {
  position: absolute;
  max-width: 8rem;
}

.collection .paginate-prev {
  left: 0;
}

.collection .paginate-next {
  right: 0;
}

@media screen and (max-width: 650px) {
  .collection .paginate-prev span,
.collection .paginate-next span {
  display: none;
}
}


.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.4rem;
  width: 100%;
  padding: 0;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 1rem;
}

.collection .pagination__item .icon-caret {
  margin: 0 .5rem;
}

.collection .pagination__item--current {
  background-color: #d5d5d594;
  border-radius: 33px;
  color: rgb(var(--color-foreground));
  font-weight: 600;
  opacity: 1;

}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
